.image1:active {
  transform: translateY(4px);
}

.container {
  display: flex;
}

.clicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 10vh;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 10vh;
}

.items {
  border-top: 4px solid #f2f2f2;
}

.item {
  opacity: 50%;
}

.item:hover {
  cursor: pointer;
  opacity: 100%;
}
